* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
}

body {
    background-color: #1f1f1f;
    font-family: sans-serif;
}

.header {
    text-align: center;
    padding: 2rem 0;
    color: white;
    font-size: 2rem;
}

.container {
    padding: 2rem 5%;
}

.image-container {
    column-count: 3; /* adapte le nombre de colonnes */
    column-gap: 1;
}

.image-container img {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    break-inside: avoid; /* important pour éviter les coupures */
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.03);
}

@media (max-width: 1000px) {
    .image-container {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .image-container {
        column-count: 1;
    }
}
